<% unless current_user %>
    <div class="login-form">
        <% if flash.alert %><p class="alert"><%= flash.alert %></p><% end %>
        <%= form_tag :session, id: "login-form" do %>
            <div>
                <label>ユーザー名：</label>
                <input type="text" name="name">
            </div>
            <div>
                <label>パスワード：</label>
                <input type="password" name="password">
            </div>
            <div>
                <%= button_to "ログイン", {method: :post, class: "btn btn-info"} %>
            </div>
        </div>
    <% end %>
<% end %>

<% if current_user %>
    <ul class="account-menu">
    <%= link_to current_user.name + "さん", :account %>
    <%= link_to "ログアウト", :session, method: :delete, data: { confirm: "ログアウトしますか？" } %>
    </ul>
    <% @page_title = "このブログについて" %>

    <h1><%= @page_title %></h1>

    <div class="about-information">
        <p>このブログはRuby on rails学習の一環で立ち上げたものです</p>

        <p>実装した機能は会員登録、ログイン・ログアウト機能、会員一覧の閲覧、記事の投稿・編集・削除</p>

        <p>これから追加で画像の投稿、いいねボタン、記事詳細ページでのフォーラムフィールドの実装していく予定です。</p>
    </div>
<% end %>

