<% @page_title = "記事一覧" %>
<h1><%= @page_title %></h1>

<div class="flexbox">
  <% if @articles.present? %>
    <% @articles.each do |article| %>
      <div class="card">
        <div class="card-title">
          <h2><%= article.title %></h2>
        </div>
        <div class="card-content">
          <%= markdown(article.body).html_safe %>
        </div>
        <div class="post-date">
          <%= article.released_at.strftime("%Y/%m/%d %H:%M") %>
        </div>
        <div class="syousai-button">
          <%= button_to "詳細", article, {method: :get, class: "btn btn-info btn-lg"} %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>記事がありません</p>
  <% end %>