<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" %>
    <%= javascript_include_tag src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>
    <%= javascript_include_tag src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js" %>
    <%= javascript_include_tag src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js" %>
  </head>

  <body>
    <div id="container">
      <header>
        <%= render "shared/header" %>
      </header>
      <main>
        <% if flash.notice %>
        <p class="notice"><%= flash.notice %></p>
        <% end %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
